<a href="https://colab.research.google.com/github/Mayank-004/Project-in-python/blob/main/Basic%20Python%20Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 1 Assignment
* Download the "Week_1_Assignment.ipynb" notebook 
* Fill in the code in the cells marked with `# YOUR ANSWER HERE:` by answering the question/task defined in the cell above it starting with `GRADED:`
* Code cells outside of `# YOUR ANSWER HERE:` will not be considered for grading. 
  * Feel free to write outside of it for debugging
* Submit the updated notebook
  * Make sure to save your changes before submitting it!

In [1]:
#Import necessary libraries
import pandas as pd
import numpy as np

`GRADED [1]`: Provided below are functions that are:
- completely defined: `add_numbers`;
- partially defined: `max_number`; _and_
- not defined at all: `sqrt_exp_number`

 1. Complete `max_number` so that it returns the maximum of two numbers
 2. Write a function called `sqrt_calc` to calculate the square root of (a given number divided by (1 - the same given number))

In [36]:
# YOUR ANSWER HERE:

def add_numbers(a, b):
    result = a + b
    return result

def max_number(a, b):
    # Write code to return the max of a and b
    if a>b:
      result=a
    else:
      result=b

     # Replace None with your code
    return result

def  sqrt_calc(a):
     rr=(a/(1-a))**(1/2)
     return rr

3.0

`GRADED [2]`: Write a function called `show_info` that takes a name, height in centimeters, and a home state (a total of 3 arguments) and returns a full sentence string with the following content and format: `Your name is [name] and you are [cm] tall and live in the state of [state].` Please make sure that you follow the format and grammar of the sentence exactly as defined and that you properly capitalize and format the two letter abbreviation of the home state.
_Hint: Your string shold follow the Python f-strings formatting functionality. https://realpython.com/python-f-strings/

In [71]:
# YOUR ANSER HERE

def show_info(Name,Height_cm,Home_state):
   
    print(f"Your name is {Name} and you are {Height_cm} centimetres tall and live in the state of {Home_state}")

In [72]:
show_info('Jane Austen', 160, 'Massachusetts')  # please do not modify this cell

Your name is Jane Austen and you are 160 centimetres tall and live in the state of Massachusetts

`GRADED [3]`: Using a `for` loop, iterate through the sequential list of __all__ integers from `20` to `53` (__`inclusive`__) and print each integer in that range that is divisible by (`3` __OR__ `12`) __AND__ (is `not` an odd number).

In [66]:
# YOUR ANSER HERE:

for i in range(20,54):
  if (i%3 ==0 or i%12==0) and (i%2==0):
    print(i)

24
30
36
42
48

`GRADED [4]`: Using a `while` loop: loop over every sequential even number between `501` and `642` (__`inclusive`__); in the same `while` loop print __`only`__ every 10th sequential even number you have encountered in the loop.

In [ ]:
# YOUR ANSER HERE:

In [14]:
i=501
num=0
while i <= 642:
    if(i%2==0):
        num=num+1
        if(num%10==0):
            print(f"Printing  {i}" )

    #print(f"num: {num}")
    #print(f"i: {i}")
    i = i+1

Printing  520
Printing  540
Printing  560
Printing  580
Printing  600
Printing  620
Printing  640

`GRADED [5]`: Using a `for` loop, iterate over the dictionary defined below and, for each, key-value pair in the dictionary, print a single string of the form; `The CEO of [company] is [CEO name].` where `[company]` and `[CEO name]` are the corresponding values.

In [18]:
# YOUR ANSER HERE:
company_dict = {
    'Satya Nadella': 'Microsoft',
    'Jeff Bezos': 'Amazon',
    'Tim Cook': 'Apple'
}

for key in company_dict:
    print(f"The ceo of the company {company_dict[key]} is {key} ")

The ceo of the company Microsoft is Satya Nadella
The ceo of the company Amazon is Jeff Bezos
The ceo of the company Apple is Tim Cook

`GRADED [6]`: Define a function called `time_converter` that takes as an argument an elapsed amount of time in `seconds` and prints the elapsed time converted to `hours, minutes, seconds` using the following sentence: `Original elapsed time was [..] seconds, which equals [..] hours, [..] minutes and [..] seconds.`

In [33]:
# YOUR ANSWER HERE:

def time_converter(elapsed_time):
    temp = elapsed_time 
    hours = temp//3600
    temp = temp - 3600*hours
    minutes = temp//60
    temp = temp - 60*minutes
    seconds= temp//60
    print(f'Original elapsed time was {elapsed_time} seconds, which equals {hours} hours, {minutes} minutes and {seconds} seconds.')

In [35]:
    time_converter(37899)

Original elapsed time was 37899 seconds, which equals 10 hours, 31 minutes and 0 seconds.